@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color-text: #000;
    --primary-color-accent: #d00;
    --primary-color-background: #fff;
    --primary-font-family: 'Schibsted Grotesk', sans-serif;
    --primary-font-size: 0.9rem;
    --primary-font-weight: 400;
    --primary-line-height: 1.2;
    --primary-border: 1px dotted var(--primary-color-text);
    --primary-border-radius: 10rem;
    --primary-margin-center: 0 auto;
    --primary-margin-block: 2rem 5rem;
    --primary-margin-block-start: 13rem;
    --primary-padding-block: 0.6rem;
    --primary-padding-block-start: 0.5rem;
    --primary-padding-block-end: 1rem;
    --primary-width: 0.75rem;
    --primary-height: 1.5rem;
    --primary-gap: 0.75rem;
    --primary-grid-column: 1fr 3fr;
    
    --secondary-color-text: #222;
    --secondary-color-background: #d6d6d6;
    --secondary-font-family: 'Times New Roman', Times, serif;
    --secondary-font-size: 0.5rem;
    --secondary-font-weight: 700;
    --secondary-line-height: 1.25;
    --secondary-border-radius: 0.15rem;
    --secondary-padding-block-start: 2rem;
    --secondary-width: 1rem;
    --secondary-height: 7rem;
    --secondary-gap: 0.5rem;
    --secondary-grid-column: 1fr 1fr 1fr;
    
    --nuance-color-light: #f0f0f0;
    --nuance-color-medium: #aaa;
    --nuance-color-dark: #666;
    --nuance-font-size-xxsmall: 0.3rem;
    --nuance-font-size-xsmall: 0.6rem;
    --nuance-font-size-small: 0.7rem;
    --nuance-font-size-medium: 0.8rem;
    --nuance-font-size-large: 1.75rem;
    --nuance-font-size-xlarge: 3.5rem;
    --nuance-font-weight-semi-bold: 600;
    --nuance-font-weight-extra-bold: 800;
    --nuance-font-weight-black: 900;
    --nuance-line-height: 1.5;
    --nuance-border-dotted: 1px dotted var(--nuance-color-medium);
    --nuance-border-solid: 1px solid var(--nuance-color-medium);
    --nuance-border-groove: 2px groove var(--primary-color-background);
    --nuance-box-shadow-light: 0 5px 5px var(--nuance-color-medium);
    --nuance-box-shadow-dark: 0 0 10px var(--primary-color-text);
    --nuance-text-shadow: 1px 1px var(--nuance-color-light);
    --nuance-border-radius-none: 0;
    --nuance-border-radius-small: 0.1;
    --nuance-margin-zero: 0;
    --nuance-margin-block: 2rem 1rem;
    --nuance-margin-block-start: 0.75rem;
    --nuance-margin-block-end: 1rem;
    --nuance-padding-zero: 0;
    --nuance-padding-small: 0.25rem;
    --nuance-padding-medium: 0.5rem 0.75rem;
    --nuance-padding-large: 0.5rem 3.2rem;
    --nuance-padding-inline: 0.25rem;
    --nuance-padding-inline-start-small: 0.35rem;
    --nuance-padding-inline-start-medium: 0.5rem;
    --nuance-padding-inline-start-large: 3rem;
    --nuance-padding-inline-end: 0.5rem;
    --nuance-padding-block-small: 0.3rem;
    --nuance-padding-block-medium: 1rem 1.5rem;
    --nuance-padding-block-large: 2rem 0.3rem;
    --nuance-padding-block-start-xsmall: -1rem;
    --nuance-padding-block-start-small: 1rem;
    --nuance-padding-block-start-medium: 1.3rem;
    --nuance-padding-block-start-large: 2.25rem;
    --nuance-padding-block-end-small: 0.3rem;
    --nuance-padding-block-end-medium: 0.75rem;
    --nuance-padding-block-end-large: 1.5rem;
    --nuance-width-xxxsmall: 0.35rem;
    --nuance-width-xxsmall: 0.65rem;
    --nuance-width-xsmall: 0.9rem;
    --nuance-width-small: 1.5rem;
    --nuance-width-medium: 1.75rem;
    --nuance-width-large: 5rem;
    --nuance-width-xlarge: 7rem;
    --nuance-height-xxsmall: 0.65rem;
    --nuance-height-xsmall: 0.75rem;
    --nuance-height-small: 1rem;
    --nuance-height-medium: 8rem;
    --nuance-height-large: 14rem;
    --nuance-height-xlarge: 20rem;
    --nuance-gap-xxxsmall: 0.2rem;
    --nuance-gap-xxsmall: 0.25rem;
    --nuance-gap-xsmall: 0.3rem;
    --nuance-gap-small: 0.35rem;
    --nuance-gap-medium: 0.6rem;
    --nuance-gap-large: 1rem;
    --nuance-gap-xlarge: 1.25rem;
    --nuance-gap-xxlarge: 2rem;
    --nuance-grid-column: 1fr 1fr 1fr 1fr;
    
    --brand-color-light: #26c4f1;
    --brand-color-dark: #305194;
}