.hero {
    display: grid;
    grid-template-rows: 0.5fr 0.7fr 1fr;
    grid-template-columns: var(--primary-grid-column);
    grid-row-gap: var(--secondary-gap);
    grid-column-gap: var(--primary-gap);
}


/* --- hero__details --- */
.hero__details {
    padding-block-start: var(--secondary-padding-block-start);
    gap: var(--primary-gap);
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    display: flex;
    grid-column: 2 / 3;
}

.details__subscription {
    color: var(--primary-color-accent);
}

.details__reading-time {
    color: var(--nuance-color-medium);
    text-transform: uppercase;
}

/* --- hero__heading --- */
.hero__heading {
    font-size: var(--nuance-font-size-large);
    font-weight: var(--nuance-font-weight-black);
    font-family: var(--secondary-font-family);
    grid-column: 2 / 3;
}

/* --- hero__introductory-paragraph --- */
.hero__introductory-paragraph {
    font-size: var(--primary-font-size);
    line-height: var(----nuance-line-height);
    color: var(--secondary-color-text);
    font-family: var(--secondary-font-family);
    grid-column: 2 / 3;
}

/* --- hero__image-and-image-text --- */
.hero__image-and-image-text {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
}

.hero__image-text {
    color: var(--secondary-color-text);
    font-size: var(--nuance-font-size-xsmall);
    line-height: var(----secondary-line-height);
    font-family: var(--secondary-font-family);
    display: flex;
    flex-direction: column;
    gap: var(--secondary-gap);
    text-align: right;
}

.hero__photographer {
    display: flex;
    gap: var(--nuance-gap-xxsmall);
    justify-content: end;
    align-items: flex-end;
}

.hero__icon {
    height: var(--primary-width);
}

.hero__photographer-name {
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    font-family: var(--primary-font-family);
}

.hero__image {
    width: 100%;
    height: var(--nuance-height-xlarge);
    object-fit: cover;
}
